.soype-twocolumnblock{
    
    &__inner{
        margin: auto;
        max-width: 1440px;
        padding: 4rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        @media (max-width: 1120px){
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
        }
    }

    &__col{
        display: flex;
        justify-content: center;

        &-1{
            flex-direction: row-reverse;
        }

        &-2{
            .soype-twocolumnblock__content{
                text-align: right;
            }
        }

        @media (max-width: 1120px){
            align-items: center;
        }

        @media (max-width: 768px){
            flex-direction: column;

            &-1, &-2{
                flex-direction: column;
            }

        }
    }

    &__media{
        min-width: 300px;
        display: flex;
        // align-items: center;

        @media (max-width: 1120px){
            min-width: 600px;
        }

        @media (max-width: 768px){
            min-width: 300px;
        }
    }

    &__title{
        margin-bottom: 1rem;
    }

}