.soype-richtext{    
    background-color: #eff4f8;

    &__container{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-width: 1440px;
        margin: auto;
    }

    &--align-left{
        align-items: flex-start;
        justify-content: center;
    }

    &--align-center{
        align-items: center;
        justify-content: center;
    }

    &--align-right{
        align-items: flex-end;
        justify-content: center;
        text-align: right;
    }

    &--align-justify{
        align-items: flex-start;
        justify-content: center;
        text-align: justify;
    }
}